{% extends 'shared/base.html' %}

{% block content %}
  {% if request.user.id == publishingcompany.user_id %}
    <h1>{{ publishingcompany.name }}</h1>
    <div>PRO: {{ publishingcompany.pro.name }} ({{ publishingcompany.pro.city }}, {{ publishingcompany.pro.state }})</div>
    <div>PRO Account Number: {{ publishingcompany.pro_acct_num }}</div>
    <div>Administrator: {{ publishingcompany.admin }}</div>
    <div className="details-buttons">
      <form action="{% url 'songwrytrapp:publishingcompany' publishingcompany.id %}" method="POST">
        {% csrf_token %}
        <input type="hidden" name="actual_method" value="DELETE">
        <button>Delete</button>
      </form>
      <form action="{% url 'songwrytrapp:publishingcompany_edit_form' publishingcompany.id %}" method="GET"> 
          {% csrf_token %}
          <button>Edit</button>
      </form>
    </div>
  {% else %}
    <h1>No user exists with specified ID</h1>
  {% endif %}
{% endblock %}