{% extends 'shared/base.html' %}

{% block content %}
    <h1>Writer</h1>


    {% if writer.id is not None %}
        <form action="{% url 'songwrytrapp:writer' writer.id %}" method="post">
          <input type="hidden" name="actual_method" value="PUT">
    {% else %}
        <form action="{% url 'songwrytrapp:writers' %}" method="post">
    {% endif %}
      {% csrf_token %}
      <fieldset>
          <label for="first_name">First Name: </label>
          <input id="first_name" type="text" name="first_name" value="{{writer.first_name}}">
      </fieldset>
      <fieldset>
          <label for="last_name">Last Name: </label>
          <input id="last_name" type="text" name="last_name" value="{{writer.last_name}}">
      </fieldset>
      <fieldset>
          <label for="pro">PRO: </label>
          <select id="pro" type="text" name="pro">
                {% for pro in all_pros %}
                    <option value="{{ pro.id }}" 
                    {% if pro.id == writer.pro_id %}
                        selected
                    {% endif %}
                    >{{ pro.name }} 
                    {% if pro.zipcode == "10019" %}
                        ({{ pro.city }} (Midtown), {{ pro.state }})</option>
                    {% elif pro.zipcode == "10005" %}
                        ({{ pro.city }} (Downtown), {{ pro.state }})</option>
                    {% else %}
                        ({{ pro.city }}, {{ pro.state }})</option>
                    {% endif %}
                {% endfor %}
          </select>
      </fieldset>
      <fieldset>
          <label for="pro_ipi">PRO IPI: </label>
          <input id="pro_ipi" type="text" name="pro_ipi" value="{{writer.pro_ipi}}">
      </fieldset>
      <fieldset>
          <label for="publishing_notes">Notes: </label>
          <textarea id="publishing_notes" type="text" name="publishing_notes" rows="5" cols="30">{{writer.publishing_notes}}</textarea>
      </fieldset>
      <input type="submit" value="Submit" />
    </form>
{% endblock %}