{% extends 'shared/base.html' %}
{% load static %}

{% block css %}
    <link rel="stylesheet" href="{% static 'styles/writers.css' %}" />
{% endblock %}

{% block navbar %}
    {% if request.user.id %}
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <a class="navbar-brand" href="{% url 'songwrytrapp:home'%}"><img src="{% static "img/songwrytr_logo_sm.png" %}" alt="SONGWRYTR" height="50px"></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
                <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                    <li class="nav-item">
                        <a class="nav-link active" href="{% url 'songwrytrapp:writers' %}">Writers</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'songwrytrapp:compositions' %}">Compositions</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'songwrytrapp:publishingcompanies' %}">Publishing</a>
                    </li>
                </ul>
                <a class="form-inline my-2 my-lg-0" href="{% url 'songwrytrapp:logout' %}">Logout</a>
            </div>
        </nav>
    {% endif %}
{% endblock %}

{% block content %}
    {% if writer.id is not None %}
        <h1>Update Writer</h1>
        <form action="{% url 'songwrytrapp:writer' writer.id %}" method="post">
          <input type="hidden" name="actual_method" value="PUT">
    {% else %}
        <h1>Add Writer</h1>
        <form action="{% url 'songwrytrapp:writers' %}" method="post">
    {% endif %}
      {% csrf_token %}
      <fieldset>
          <label for="first_name">First Name: </label>
          <input id="first_name" type="text" name="first_name" value="{{writer.first_name}}" required>
      </fieldset>
      <fieldset>
          <label for="last_name">Last Name: </label>
          <input id="last_name" type="text" name="last_name" value="{{writer.last_name}}">
      </fieldset>
      <fieldset>
          <label for="pro">PRO: </label>
          <select id="pro" type="text" name="pro">
                {% for pro in all_pros %}
                    <option value="{{ pro.id }}" 
                    {% if pro.id == writer.pro_id %}
                        selected
                    {% endif %}
                    >{{ pro.name }} 
                    {% if pro.zipcode == "10019" %}
                        ({{ pro.city }} (Midtown), {{ pro.state }})</option>
                    {% elif pro.zipcode == "10005" %}
                        ({{ pro.city }} (Downtown), {{ pro.state }})</option>
                    {% elif pro.zipcode == "n/a" %}
                        </option>
                    {% else %}
                        ({{ pro.city }}, {{ pro.state }})</option>
                    {% endif %}
                {% endfor %}
          </select>
      </fieldset>
      <fieldset>
          <label for="pro_ipi">PRO IPI: </label>
          <input id="pro_ipi" type="text" name="pro_ipi" value="{{writer.pro_ipi}}">
      </fieldset>
      <fieldset>
          <label for="publishing_notes">Notes: </label>
          <textarea id="publishing_notes" type="text" name="publishing_notes" rows="5" cols="30">{{writer.publishing_notes}}</textarea>
      </fieldset>
      <input type="submit" value="Submit" />
    </form>
{% endblock %}