{% extends 'shared/base.html' %}
{% load static %}

{% block css %}
    <link rel="stylesheet" href="{% static 'styles/writers.css' %}" />
{% endblock %}

{% block content %}
    <h1 class="header">Writers</h1>
    <a href="{% url 'songwrytrapp:writer_form' %}"><button class="plusminus_button margin-bottom-30"><img src="{% static "img/plus.png" %}" alt="Add Writer" height="16px" style="vertical-align:middle"> ADD WRITER</button></a>
    {% if all_writers %} <input type="text" id="myInput" onkeyup="search_writers()" placeholder="Search for writers.."> {% endif %}
    <ol id="myOL">
    {% for writer in all_writers %}
        {% if request.user.id == writer.user_id %}
            <li><a style="display: none">{{ writer.publishing_notes }} {{ writer.first_name }} {{ writer.last_name }}</a><a href="{% url 'songwrytrapp:writer' writer.id %}">{% if writer.last_name %}{{ writer.last_name }},{% endif %} {{ writer.first_name }}</a></li>
        {% endif %}
    {% endfor %}
    </ol>
{% endblock %}

{% block scripts %}
    <script src="{% static 'scripts/search_writers.js' %}"></script>
{% endblock %}