{% extends 'shared/base.html' %}
{% load static %}

{% block css %}
    <link rel="stylesheet" href="{% static 'styles/writers.css' %}" />
{% endblock %}

{% block navbar %}
    {% if request.user.id %}
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <a class="navbar-brand" href="{% url 'songwrytrapp:home'%}"><img src="{% static "img/songwrytr_logo_sm.png" %}" alt="SONGWRYTR" height="50px"></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
                <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                    <li class="nav-item">
                        <a class="nav-link active" href="{% url 'songwrytrapp:writers' %}">Writers</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'songwrytrapp:compositions' %}">Compositions</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'songwrytrapp:publishingcompanies' %}">Publishing</a>
                    </li>
                </ul>
                <a class="form-inline my-2 my-lg-0" href="{% url 'songwrytrapp:logout' %}">Logout</a>
            </div>
        </nav>
    {% endif %}
{% endblock %}

{% block content %}
    {% comment %} <h1 class="header">Writers</h1> {% endcomment %}
    <a href="{% url 'songwrytrapp:writer_form' %}"><button class="plusminus_button margin-bottom-10"><img src="{% static "img/plus.png" %}" alt="Add Writer" height="32px" style="vertical-align:middle"> ADD WRITER</button></a>
    {% if all_writers %} <input type="text" id="myInput" onkeyup="search_writers()" placeholder="Search for writers.."> {% endif %}
    <ol id="myOL">
    {% for writer in all_writers %}
        {% if request.user.id == writer.user_id %}
            <li><a style="display: none">{{ writer.publishing_notes }} {{ writer.first_name }} {{ writer.last_name }}</a><a href="{% url 'songwrytrapp:writer' writer.id %}">{% if writer.last_name %}{{ writer.last_name }},{% endif %} {{ writer.first_name }}</a></li>
        {% endif %}
    {% endfor %}
    </ol>
{% endblock %}

{% block scripts %}
    <script src="{% static 'scripts/search_writers.js' %}"></script>
{% endblock %}