#player {
    width: 100%;
}

.recording_image {
    width: 300px;
}

.recording_columns {
    display: flex;
    align-items: flex-end;
}

.recording {
    display: flex;
    flex-direction: column;
}

.right_column {
    font-size: 1em;
    margin: 0 0 5px 5px;
}

.compositions {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.composition {
    flex-basis: 20%;
    padding: 0 2em 0.5em 2em;
    border: 1px solid gray;
    margin: 1em;
    padding: 1.5em;
}

.composition__title {
    font-size: 1.1em;
}

.composition__description {
    font-size: 0.75em;
}

.compositionWriter {
    display: flex;
    flex-flow: row wrap;
    align-content: space-between;
}

.cwli {
    margin: 5px 0;
}

.cwli_object {
    padding: 0 10px;
}

.compositionPublishing {
    display: flex;
    flex-flow: row wrap;
    align-content: space-between;
}

.compositionRecording {
    display: flex;
    flex-flow: row wrap;
    align-content: space-between;
}

.cpcli {
    margin: 5px 0;
}

.cpcli_object {
    padding: 0 10px;
}

.recli {
    margin: 5px 0;
}

.recli_object {
    padding: 0 10px;
}

/* collapsible div code from https://alligator.io/css/collapsible/ */


input[type='checkbox'] {
    display: none;
}

.wrap-collabsible {
    margin-bottom: 10px;
}

.lbl-toggle {
    display: block;

    font-weight: bold;
    font-size: 1.2rem;
    text-transform: uppercase;
    text-align: center;

    padding: 1rem;

    color: #A2A79E;
    background: #12355B;

    cursor: pointer;

    border-radius: 7px;
    transition: all 0.25s ease-out;
}

.lbl-toggle:hover {
    color: #448CDA;
}

.lbl-toggle::before {
    content: ' ';
    display: inline-block;
  
    border-top: 5px solid transparent;
    border-bottom: 5px solid transparent;
    border-left: 5px solid currentColor;
  
    vertical-align: middle;
    margin-right: .7rem;
    transform: translateY(-2px);
  
    transition: transform .2s ease-out;
}

.collapsible-content .content-inner {
    background: #99C0EB;
    border-bottom: 1px solid #A2A79E;
  
    border-bottom-left-radius: 7px;
    border-bottom-right-radius: 7px;
    padding: .5rem 1rem;
}

.collapsible-content {
    max-height: 0px;
    overflow: hidden;
  
    transition: max-height .25s ease-in-out;
}

.toggle:checked + .lbl-toggle + .collapsible-content {
    max-height: 500vh;
}

.toggle:checked + .lbl-toggle::before {
    transform: rotate(90deg) translateX(-3px);
}
  
.toggle:checked + .lbl-toggle {
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}