.writers {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.writer {
    flex-basis: 20%;
    padding: 0 2em 0.5em 2em;
    border: 1px solid gray;
    margin: 1em;
    padding: 1.5em;
}

.writer__title {
    font-size: 1.1em;
}

.header {
    margin: 0;
}

.writer__description {
    font-size: 0.75em;
}

ol li {
    list-style-type: none;
}

ol {
    margin: 0;
    padding: 0;
}