{% extends 'shared/base.html' %}
{% load static %}

{% block css %}
    <link rel="stylesheet" href="{% static 'styles/compositions.css' %}" />
{% endblock %}

{% block navbar %}
    {% if request.user.id %}
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <a class="navbar-brand" href="{% url 'songwrytrapp:home'%}"><img src="{% static "img/songwrytr_logo_sm.png" %}" alt="SONGWRYTR" height="50px"></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
                <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'songwrytrapp:writers' %}">Writers</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" href="{% url 'songwrytrapp:compositions' %}">Compositions</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'songwrytrapp:publishingcompanies' %}">Publishing</a>
                    </li>
                </ul>
                <a class="form-inline my-2 my-lg-0" href="{% url 'songwrytrapp:logout' %}">Logout</a>
            </div>
        </nav>
    {% endif %}
{% endblock %}

{% block content %}
  {% if request.user.id == composition.user_id %}
    <h1>"{{ composition.title }}"</h1>
    <div class="details-buttons">
      <div class="detail-button">
        <form action="{% url 'songwrytrapp:composition_edit_form' composition.id %}" method="GET"> 
            {% csrf_token %}
            <button>Edit</button>
        </form>
      </div>
      <div class="detail-button">
        <form action="{% url 'songwrytrapp:composition' composition.id %}" method="POST" onsubmit="return ConfirmDelete()">
          {% csrf_token %}
          <input type="hidden" name="actual_method" value="DELETE">
          <button>Delete</button>
        </form>
      </div>
    </div>
    {% if composition.alt_titles or composition.date_created or composition.notes %}
      <div class="wrap-collabsible">
        <input id="collapsible1" class="toggle" type="checkbox">
        <label for="collapsible1" class="lbl-toggle">Composition Details</label>
        <div class="collapsible-content">
          <div class="content-inner">
            {% if composition.alt_titles %}
              <div>Alternate Titles: {{ composition.alt_titles }}</div>
            {% endif %}
            {% if composition.date_created %}
              <div>Date Created: {{ composition.date_refactored }}</div>
            {% endif %}
            {% if composition.notes %}
              <div>Notes: {{ composition.notes|linebreaksbr }}</div>
            {% endif %}
        </div>
      </div>
    </div>
    {% endif %}
    {% if composition.lyrics %}
      <div class="wrap-collabsible">
        <input id="collapsible2" class="toggle" type="checkbox">
        <label for="collapsible2" class="lbl-toggle">Lyrics</label>
        <div class="collapsible-content">
          <div class="content-inner">
            <div class="indent">{{ composition.lyrics|linebreaks }}</div>
          </div>
        </div>
      </div>
    {% endif %}
    <div class="wrap-collabsible">
      <input id="collapsible3" class="toggle" type="checkbox">
      <label for="collapsible3" class="lbl-toggle">Writer Share</label>
      <div class="collapsible-content">
        <div class="content-inner">
          <ul style="list-style: none;">
            {% for writer in composition_writers %}
                {% if request.user.id == writer.user_id %}
                    <li class="cwli">
                        <form class="compositionWriter" action="{% url 'songwrytrapp:composition_writer_remove' composition.id writer.compositionwriter_id %}" method="POST">
                        <a href="{% url 'songwrytrapp:writer' writer.id %}">{{ writer.first_name }} {{ writer.last_name }}</a><div class="cwli_object">{{ writer.percentage }}%</div>
                          {% csrf_token %}
                          <input type="hidden" name="actual_method" value="DELETE">
                          <button class="plusminus_button"><img src="{% static "img/minus.png" %}" alt="Remove Writer" height="16px"></button>
                        </form>
                    </li>
                {% endif %}
            {% endfor %}
            <li class="cwli"><a href="{% url 'songwrytrapp:composition_writer_form' composition.id %}"><button class="plusminus_button"><img src="{% static "img/plus.png" %}" alt="Attach Writer" height="16px" style="vertical-align:middle"> ATTACH WRITER</button></a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="wrap-collabsible">
      <input id="collapsible4" class="toggle" type="checkbox">
      <label for="collapsible4" class="lbl-toggle">Publishing Share</label>
      <div class="collapsible-content">
        <div class="content-inner">
          <ul style="list-style: none;">
            {% for publishingcompany in composition_publishingcompanies %}
                {% if request.user.id == publishingcompany.user_id %}
                    <li class="cpcli">
                        <form class="compositionPublishing" action="{% url 'songwrytrapp:composition_publishing_remove' composition.id publishingcompany.compositionpublishing_id %}" method="POST">
                        <a href="{% url 'songwrytrapp:publishingcompany' publishingcompany.id %}">{{ publishingcompany.name }}</a><div class="cpcli_object">{{ publishingcompany.percentage }}%</div>{{ publishingcompany.pro }} Work ID: {{ publishingcompany.pro_work_num }}
                          {% csrf_token %}
                          <input type="hidden" name="actual_method" value="DELETE">
                          <button class="plusminus_button"><img src="{% static "img/minus.png" %}" alt="Remove Publishing Company" height="16px"></button>
                        </form>
                    </li>
                {% endif %}
            {% endfor %}
            <li class="cpcli"><a href="{% url 'songwrytrapp:composition_publishing_form' composition.id %}"><button class="plusminus_button"><img src="{% static "img/plus.png" %}" alt="Attach Publishing Company" height="16px" style="vertical-align:middle"> ATTACH PUBLISHING COMPANY</button></a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="wrap-collabsible">
      <input id="collapsible5" class="toggle" type="checkbox">
      <label for="collapsible5" class="lbl-toggle">Recordings</label>
      <div class="collapsible-content">
        <div class="content-inner">
          <ul style="list-style: none;">
            {% for recording in composition_recordings %}
                {% if request.user.id == recording.user_id %}
                    <li class="recli">
                      "{{ composition.title }}"
                      <div class="recording">
                        <div class="recording_columns">
                          <div class="left_column">
                            <div>
                              <img src="{{ recording.image_url }}" class="recording_image">
                            </div>
                          </div>
                          <div class="right_column">
                          {% if recording.recording_type %}
                            <div>
                            Type: {{ recording.recording_type }}
                            </div>
                          {% endif %}
                            <div>Producer: {{ recording.producer }}</div>
                            <div>Artist: {{ recording.artist }}</div>
                            <div>Date Recorded: {{ recording.date_refactored }}</div>
                          </div>
                        </div>
                        <div>
                          <audio controls id="player" controlsList="nodownload">
                            <source src="{{ recording.audio_url }}">
                            Your browser does not support the audio element.
                          </audio>
                        </div>
                      </div>
                      <div class="details-buttons">
                        <a href="{% url 'songwrytrapp:composition_recording_edit_form' composition.id recording.id %}"><button class="edit_button"><img src="{% static "img/edit.png" %}" alt="Edit Recording" height="16px" style="vertical-align:middle"> EDIT RECORDING</button></a>
                        <form class="compositionRecording" action="{% url 'songwrytrapp:composition_recording_delete' composition.id recording.id %}" method="POST" onsubmit="return ConfirmDeleteRecording()">
                          {% csrf_token %}
                          <input type="hidden" name="actual_method" value="DELETE">
                          <button class="plusminus_button"><img src="{% static "img/minus.png" %}" alt="Delete Recording" height="16px"> DELETE RECORDING </button>
                        </form>
                      </div>
                    </li>
                {% endif %}
            {% endfor %}
            <li class="recli"><a href="{% url 'songwrytrapp:composition_recording_form' composition.id %}"><button class="plusminus_button"><img src="{% static "img/plus.png" %}" alt="Add Recording" height="16px" style="vertical-align:middle"> ADD RECORDING</button></a></li>
          </ul>
        </div>
      </div>
    </div>
  {% else %}
    <h1>No composition exists with specified ID</h1>
  {% endif %}
{% endblock %}

{% block scripts %}
    <script src="{% static 'scripts/delete.js' %}"></script>
{% endblock %}