{% extends 'shared/base.html' %}
{% load static %}

{% block css %}
    <link rel="stylesheet" href="{% static 'styles/compositions.css' %}" />
{% endblock %}

{% block content %}
  {% if request.user.id == composition.user_id %}
    <h1>{{ composition.title }}</h1>
    {% if composition.alt_titles or composition.date_created or composition.notes %}
      <div class="wrap-collabsible">
        <input id="collapsible1" class="toggle" type="checkbox">
        <label for="collapsible1" class="lbl-toggle">Composition Details</label>
        <div class="collapsible-content">
          <div class="content-inner">
            {% if composition.alt_titles %}
              <div>Alternate Titles: {{ composition.alt_titles }}</div>
            {% endif %}
            {% if composition.date_created %}
              <div>Date Created: {{ composition.date_refactored }}</div>
            {% endif %}
            {% if composition.notes %}
              <div>Notes: {{ composition.notes|linebreaksbr }}</div>
            {% endif %}
        </div>
      </div>
    </div>
    {% endif %}
    {% if composition.lyrics %}
      <div class="wrap-collabsible">
        <input id="collapsible2" class="toggle" type="checkbox">
        <label for="collapsible2" class="lbl-toggle">Lyrics</label>
        <div class="collapsible-content">
          <div class="content-inner">
            <div class="indent">{{ composition.lyrics|linebreaks }}</div>
          </div>
        </div>
      </div>
    {% endif %}
    <div class="wrap-collabsible">
        <input id="collapsible3" class="toggle" type="checkbox">
        <label for="collapsible3" class="lbl-toggle">Writers</label>
        <div class="collapsible-content">
          <div class="content-inner">
            <ul style="list-style: none;">
              {% for writer in composition_writers %}
                  {% if request.user.id == writer.user_id %}
                      <li>
                          <form class="compositionWriter" action="{% url 'songwrytrapp:composition_writer_form' writer.compositionwriter_id %}" method="POST">
                          <a href="{% url 'songwrytrapp:writer' writer.id %}">{{ writer.first_name }} {{ writer.last_name }}</a> {{ writer.percentage }}%
                            {% csrf_token %}
                            <input type="hidden" name="actual_method" value="DELETE">
                            <button>Remove</button>
                          </form>
                      </li>
                  {% endif %}
              {% endfor %}
              <li><a href="{% url 'songwrytrapp:composition_writer_form' composition.id %}">Attach Writer</li>
            </ul>
          </div>
        </div>
      </div>
    <div class="details-buttons">
      <form action="{% url 'songwrytrapp:composition' composition.id %}" method="POST" onsubmit="return ConfirmDelete()">
        {% csrf_token %}
        <input type="hidden" name="actual_method" value="DELETE">
        <button>Delete</button>
      </form>
      <form action="{% url 'songwrytrapp:composition_edit_form' composition.id %}" method="GET"> 
          {% csrf_token %}
          <button>Edit</button>
      </form>
    </div>
  {% else %}
    <h1>No composition exists with specified ID</h1>
  {% endif %}
{% endblock %}

{% block scripts %}
    <script src="{% static 'scripts/delete.js' %}"></script>
{% endblock %}