{% extends 'shared/base.html' %}
{% load static %}

{% block css %}
    <link rel="stylesheet" href="{% static 'styles/compositions.css' %}" />
{% endblock %}

{% block content %}
    <h1>Compositions</h1>


    {% if composition.id is not None %}
        <form action="{% url 'songwrytrapp:composition' composition.id %}" method="post">
          <input type="hidden" name="actual_method" value="PUT">
    {% else %}
        <form action="{% url 'songwrytrapp:compositions' %}" method="post">
    {% endif %}
      {% csrf_token %}
      <fieldset>
          <label for="title">Title: </label>
          <input id="title" type="text" name="title" value="{{composition.title}}">
      </fieldset>
      <fieldset>
          <label for="alt_titles">Alternate Titles: </label>
          <input id="alt_titles" type="text" name="alt_titles" value="{{composition.alt_titles}}">
      </fieldset>
      <fieldset>
          <label for="date_created">Date Created: </label>
          <input id="date_created" type="date" name="date_created" value="{{composition.date_created}}">
      </fieldset>
      <fieldset>
          <label for="notes">Notes: </label>
          <textarea id="notes" type="text" name="notes" rows="5" cols="30">{{composition.notes}}</textarea>
      </fieldset>
      <fieldset>
          <label for="lyrics">Lyrics: </label>
          <textarea id="lyrics" type="text" name="lyrics" rows="20" cols="50">{{composition.lyrics}}</textarea>
      </fieldset>
      <input type="submit" value="Submit" />
    </form>
{% endblock %}