{% extends 'shared/base.html' %}
{% load static %}

{% block css %}
    <link rel="stylesheet" href="{% static 'styles/compositions.css' %}" />
{% endblock %}

{% block content %}
    <h1>Compositions</h1>
        <a href="{% url 'songwrytrapp:composition_form' %}">Add Composition</a>
    <ol>
    {% for composition in all_compositions %}
        {% if request.user.id == composition.user_id %}
            <li>
                <a href="{% url 'songwrytrapp:composition' composition.id %}">
                {{ composition.title }}
                </a>
            </li>
        {% endif %}
    {% endfor %}
    </ol>
{% endblock %}