{% extends 'shared/base.html' %}
{% load static %}

{% block css %}
    <link rel="stylesheet" href="{% static 'styles/compositions.css' %}" />
{% endblock %}

{% block navbar %}
    {% if request.user.id %}
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <a class="navbar-brand" href="{% url 'songwrytrapp:home'%}"><img src="{% static "img/songwrytr_logo_sm.png" %}" alt="SONGWRYTR" height="50px"></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
                <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'songwrytrapp:writers' %}">Writers</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" href="{% url 'songwrytrapp:compositions' %}">Compositions</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'songwrytrapp:publishingcompanies' %}">Publishing</a>
                    </li>
                </ul>
                <a class="form-inline my-2 my-lg-0" href="{% url 'songwrytrapp:logout' %}">Logout</a>
            </div>
        </nav>
    {% endif %}
{% endblock %}

{% block content %}
    {% if compositionpublishing.id is not None %}
        <h1>Update Publishing Company Share for "{{ composition.title }}"</h1>
        <form action="{% url 'songwrytrapp:composition_publishing_edit_form' composition.id compositionpublishing.id %}" method="post">
          <input type="hidden" name="actual_method" value="PUT">
    {% else %}
        <h1>Attach publishing company for "{{ composition.title }}"</h1>
        <form action="{% url 'songwrytrapp:composition_publishing_form' composition.id %}" method="post">
    {% endif %}
      {% csrf_token %}
      <fieldset>
          <label for="publishingcompany">Publishing Company: </label>
          <select id="publishingcompany" type="text" name="publishingcompany" required>
            <option value="" selected>Select Publishing Company</option>
            {% for publishingcompany in all_publishers %}
                {% if request.user.id == publishingcompany.user_id %}
                    <option value="{{ publishingcompany.id }}" {% if publishingcompany.id == compositionpublishing.publishing_company_id %}selected{% endif %}>{{ publishingcompany.name }}</option>
                {% endif %}
            {% endfor %}
          </select>
      </fieldset>
      <fieldset>
          <label for="percentage">Percentage: </label>
          <input id="percentage" type="number" name="percentage" min="0" max="{{totalpct}}" required value="{{ compositionpublishing.percentage }}">
      </fieldset>
      <fieldset>
          <label for="pro_work_num">PRO Work ID: </label>
          <input id="pro_work_num" type="text" name="pro_work_num" value="{{ compositionpublishing.pro_work_num }}">
      </fieldset>
      <input type="submit" value="Submit" />
    </form>
{% endblock %}