{% extends 'shared/base.html' %}
{% load static %}

{% block css %}
    <link rel="stylesheet" href="{% static 'styles/compositions.css' %}" />
{% endblock %}

{% block navbar %}
    {% if request.user.id %}
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <a class="navbar-brand" href="{% url 'songwrytrapp:home'%}"><img src="{% static "img/songwrytr_logo_sm.png" %}" alt="SONGWRYTR" height="50px"></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
                <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'songwrytrapp:writers' %}">Writers</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" href="{% url 'songwrytrapp:compositions' %}">Compositions</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'songwrytrapp:publishingcompanies' %}">Publishing</a>
                    </li>
                </ul>
                <a class="form-inline my-2 my-lg-0" href="{% url 'songwrytrapp:logout' %}">Logout</a>
            </div>
        </nav>
    {% endif %}
{% endblock %}

{% block content %}
    {% if compositionwriter.id is not None %}
        <h1>Update Writer Share for "{{ composition.title }}"</h1>
        <form action="{% url 'songwrytrapp:composition_writer_edit_form' composition.id compositionwriter.id %}" method="post">
          <input type="hidden" name="actual_method" value="PUT">
    {% else %}
        <h1>Attach writer for "{{ composition.title }}"</h1>
        <form action="{% url 'songwrytrapp:composition_writer_form' composition.id %}" method="post">
    {% endif %}
      {% csrf_token %}
      <fieldset>
          <label for="writer">Writer: </label>
          <select id="writer" type="text" name="writer" required>
            <option value="" selected>Select Writer</option>
            {% for writer in all_writers %}
                {% if request.user.id == writer.user_id %}
                    <option value="{{ writer.id }}" {% if writer.id == compositionwriter.writer_id %}selected{% endif %}>{{ writer.first_name }} {{ writer.last_name }}</option>
                {% endif %}
            {% endfor %}
          </select>
      </fieldset>
      <fieldset>
          <label for="percentage">Percentage: </label>
          <input id="percentage" type="number" name="percentage" step="0.01" min="0" max="{{totalpct}}" required value="{{ compositionwriter.percentage }}">
      </fieldset>
      <input type="submit" value="Submit" />
    </form>
{% endblock %}