{% extends 'shared/base.html' %}
{% load static %}

{% block navbar %}
    {% if request.user.id %}
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <a class="navbar-brand" href="{% url 'songwrytrapp:home'%}"><img src="{% static "img/songwrytr_logo_sm.png" %}" alt="SONGWRYTR" height="50px"></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
                <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'songwrytrapp:writers' %}">Writers</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'songwrytrapp:compositions' %}">Compositions</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'songwrytrapp:publishingcompanies' %}">Publishing</a>
                    </li>
                </ul>
                <a class="form-inline my-2 my-lg-0" href="{% url 'songwrytrapp:logout' %}">Logout</a>
            </div>
        </nav>
    {% endif %}
{% endblock %}

{% block content %}

    {% if request.user.id %}
    <p align="center">Welcome, {{request.user.first_name}}! </p>
    {% else %}
    <div align="center">
        <div class="navList__route"><a href="{% url 'songwrytrapp:home'%}"><img src="{% static "img/songwrytr_logo_sm.png" %}" alt="SONGWRYTR" height="77px"></a></div><br /><br />
        <div>Welcome!</div>Please <a href="{% url 'songwrytrapp:login' %}">login</a> or <a href="{% url 'songwrytrapp:register' %}">create account</a>.
    </div>
    {% endif %}

{% endblock %}